@if (TempData["error"] != null)
{
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script>
        toastr["success"]("@TempData["error"]", "Dikkat");
    </script> *@

    @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script>
                    Swal.fire({
                        title: "Hata Oluştu",
                        text: "@TempData["error"]",
                        icon: "question"
                    });
                </script> *@
    @*  <div class="alert alert-danger" role="alert">
                    @TempData["error"]
                </div> *@
}
@if (TempData["success"] != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        toastr["success"]("@TempData["success"]")
    </script> 


    @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script>
                    Swal.fire({
                        title: "İşlem Başarılı",
                        text: "@TempData["success"]",
                        icon: "question"
                    });
                </script> *@


      @* <div class="alert alert-primary" role="alert">
                   @TempData["success"]
                </div>  *@

}